@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>this website is for everyone who wants to connect in the workforce. posting a job opening, applying and getting connected</p>
<ul class="list-group">
    <li class="list-group-item">
        <strong>Phone:</strong>+251915573311
        
    </li>
    <li class="list-group-item"><strong>Email:</strong>support@jobportal.com</li>
</ul>
